/* The sidebar menu */
.sidebar {
    display: flex;
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 50px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #0e0e0e;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a img {
    height: 32;
    width: 32;
    margin: 9px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(142deg) brightness(105%) contrast(102%);
    color-scheme: only light;
}

.sidebar a:hover {
    background-color: #636363;
}

.main {
    margin-left: 50px; /* Same as the width of the sidebar */
    padding: 50px 50px;
}

#statusdisplay > div.barsegment {
    width: 50px;
    height: 50px;
    color: white;
}

#statusdisplay > div.barsegment > div.barcontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#statusdisplay > div.barsegment > div.barcontainer > div.bartext {
    text-align: center;
}

.inline {
    display: inline-block;
}

body {
    font-family: arial, sans-serif;
    background: #121212;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    top: -40px;
    left: 110%;;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 650px) {
    .sidebar {
        background-color: unset;
    }

    #statusdisplay {
        display: flex;
        pointer-events: all;
        margin-top: 10px;
        order: 1;
    }

    #sidebuttons {
        display: flex;
        pointer-events: all;
        order: 2;
        background-color: #0000005f;
        border-radius: 15px;
        margin-bottom: 10px;
    }

    .sidebar {
        width: 100%;
        align-items: center;
        pointer-events: none;
    }

    .main {
        margin-left: 0px;
        padding: 50px 0px;
        padding-bottom: 60px;
    }

    .tooltip .tooltiptext {
        width: 120px;
        bottom: 0%;
        left: 50%;
        margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }
    
    .tooltip .tooltiptext::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the bottom of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }

    .barsegment:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .barsegment:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    #statusdisplay > div.barsegment {
        height: 40px;
    }
}
