td:nth-child(1), th:nth-child(1) {
    padding-left: 10px;
    border-radius: 10px 0px 0px 10px;
}

td:nth-child(2), th:nth-child(2) {
    text-align: right;
    padding-right: 10px;
    border-radius: 0px 10px 10px 0px;
}

th {
    background-color: #1c1c1c;
}

#output {
    background-color: #080808;
    padding: 25px;
    border-radius: 25px;
    font-size: 1.5em;
}

table:not(:last-of-type) {
    margin-bottom: 50px;
}

@media (max-width: 600px) {
    #output {
        font-size: 1em;
        /*font-weight: bold;*/
    }
}
