table {
    font-family: 'Source Sans Pro', sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    color: #bdbdbd;
}

td, th {
    text-align: left;
    height: 50px;
    word-wrap: break-word;
    font-size: 20pt;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #0000002f
}

#output {
    max-height: 70vh;
    overflow-y: auto;
}

img {
    width: 32px;
    height: 32px;
    filter: invert(90%) sepia(58%) saturate(4464%) hue-rotate(77deg) brightness(104%) contrast(106%);
    color-scheme: only light;
}
