<html>

<head>
  <link href="/source/bar.css" rel="stylesheet" media="screen">
  <meta charset="UTF-8"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <title>Villicus</title>
  {% block head %}
  {% endblock %}
</head>

<body>
  <div class="sidebar">
    <div id="sidebuttons">
      <a href="/"><img src="/source/svg/chart.svg" /></a>
      <a href="/list"><img src="/source/svg/list.svg" /></a>
      <a href="/list/new"><img src="/source/svg/add.svg" /></a>
      {% block sidebuttons %}
      {% endblock %}
    </div>
    <div id="statusdisplay">
      
    </div>
  </div>

  <script type="module">
    import { render, StatusBar, html } from '/static/js/bar.mjs'

    render(html`<${StatusBar} display="Hewwo" />`, document.querySelector("#statusdisplay"));
  </script>

  <div class="main">
    {% block body %}
    {% endblock %}
  </div>
</body>
